.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.form-input-element {
  margin-top: 5px;
  margin-bottom: 5px;
}

.login-error-msg {
  list-style-type: none;
  color: red;
  font-size: 10px;
  font-family: 'oxygen';
  margin-bottom: 10px;
}
.login-submit {
  background-color: #2965d6;
  color: #ffffff;
  margin-top: 10px;
  border: 0px;
  height: 30px;
  font-family: 'roboto';
  font-size: 10px;
  border-radius: 5px;
  cursor: pointer;
}
